* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  /*font-family: "Parry Hotter";*/
}

.card1 {
  min-height: 100%;
}

@font-face {
    font-family: "Parry Hotter";
    font-style: normal;
    font-weight: normal;
    src: local("Parry Hotter"), url("./fonts/parry-hotter.regular.ttf") format("truetype");
}